---
// Fetch the site configuration
import { Image } from 'astro:assets';
import MenuToggle from './ui/MenuToggle';

import { siteConfigPromise } from '../lib/siteConfig';
import { Button } from './ui/button';
const siteConfig = await siteConfigPromise;

const navItems = [
  { href: '/about', label: 'About' },
  { href: '/services', label: 'Services' },
  { href: '/resources', label: 'Resources' },
  { href: '/contact', label: 'Contact' },
];
---

<header class="border-b border-gray-100 py-4">
  <div class="mx-auto flex max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8">
    <!-- Logo -->
    <div class="flex items-center">
      <a
        href="/"
        class="text-xl font-bold text-gray-800 transition duration-300 hover:text-blue-600"
      >
        {
          siteConfig?.logo ? (
            <Image
              src={siteConfig.logo}
              alt={siteConfig?.siteName || 'Logo'}
              width={80}
              height={32}
            />
          ) : (
            <span class="text-xl font-bold">{siteConfig?.siteName || 'Logo'}</span>
          )
        }
      </a>
    </div>

    <!-- Right Side: Navigation and Consultation Button (hidden on mobile) -->
    <div class="hidden items-center md:flex">
      <!-- Desktop Navigation -->
      <nav>
        <ul class="mr-8 flex space-x-8">
          {
            navItems.map((item) => (
              <li>
                <a
                  href={item.href}
                  class="rounded-md px-3 py-2 text-gray-700 transition duration-300 hover:bg-gray-100 hover:text-blue-600"
                >
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <!-- Free Consultation Button -->
      <Button variant="blue">
        <a href="/contact"> Free Consultation </a>
      </Button>
    </div>

    <!-- Mobile Menu Toggle (only visible on mobile) -->
    <div class="md:hidden">
      <MenuToggle
        items={navItems}
        logo={siteConfig?.logo}
        logoAlt={siteConfig?.siteName || 'Logo'}
        client:only="react"
      />
    </div>
  </div>
</header>
